<div id="sidebar" class="sidebar">
 <div class="sidebar-overflow" data-scrollbar="true" data-height="100%">
    <ul class="nav">
      <li class="nav-header">Menu de navegação</li>
      {# statístic #}
      <li class="active">
        <a href="#">
          <i class="icon-chart"></i>
          <span>Estatísticas</span>
        </a>
      </li>
      {# input control #}
      <li class="">
        <a href="#">
          <i class="icon-lock"></i>
          <span>Controle de entrada</span>
        </a>
      </li>
      {# slidebar minify #}
      <li class="">
        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
          <i class="icon-arrow-left"></i>
          <i class="icon-arrow-left"></i>
        </a>
      </li>
      {# socio fan #}
      <li class="has-sub">
        <a href="javascript:;">
          <i class="icon-heart"></i>
          <span>Sócio Torcedor<i class="icon-arrow-down"></i></span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-note"></i>
              <span>Cadastros<i class="icon-arrow-down"></i></span>            
            </a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-docs"></i>
                  <span>Termos de aceite<i class="icon-star"></i></span>                
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-heart"></i>
                  <span>Sócios e torcedores<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-like"></i>
                  <span>Parceiros<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-calculator"></i>
                  <span>Planos<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-magic-wand"></i>
                  <span>Benefícios<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-wallet"></i>
                  <span>Taxas extras<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-trophy"></i>
                  <span>Jogos e eventos<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>       
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-compass"></i>
              <span>Controle de assentos<i class="icon-arrow-down"></i></span>            
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-note"></i>
                  <span>Cadastro de assentos<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-check"></i>
                  <span>Assentos a liberar<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-info"></i>
                  <span>Assentos em conflito<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>     
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-emotsmile"></i>
              <span>Controle de carteirinhas<i class="icon-arrow-down"></i></span>
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-credit-card"></i>
                  <span>Tipos de carteirinhas<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-printer"></i>
                  <span>Modelos de impressão<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-magnifier"></i>
                  <span>Pesquisar carteirinhas<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>       
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-trophy"></i>
              <span>Jogos e eventos<i class="icon-arrow-down"></i></span>
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-social-dribbble"></i>
                  <span>Jogos e eventos<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-puzzle"></i>
                  <span>Times<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-calendar"></i>
                  <span>Temporadas<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-trophy"></i>
                  <span>Campeonatos<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-share"></i>
                  <span>Fases de campeonatos<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>      
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-hourglass"></i>
              <span>Processos<i class="icon-arrow-down"></i></span>
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-user-follow"></i>
                  <span>Nova associação<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user"></i>
                  <span>Associações<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-magic-wand"></i>
                  <span>Kits e benefícios<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>       
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-wallet"></i>
              <span>Financeiro<i class="icon-arrow-down"></i></span>
            </a> 
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-wallet"></i>
                  <span>Mensalidades<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-loop"></i>
                  <span>Recorrências<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user-unfollow"></i>
                  <span>Inadimplentes<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user-following"></i>
                  <span>Adimplentes<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-anchor"></i>
                  <span>Taxas extras<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>          
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-rocket"></i>
              <span>Campanhas<i class="icon-arrow-down"></i></span>
            </a>   
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-note"></i>
                  <span>Cadastros de campanhas<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>      
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-location-pin"></i>
              <span>Geoposicionamento<i class="icon-arrow-down"></i></span>
            </a>   
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-badge"></i>
                  <span>Geral<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>      
          </li>
        </ul>
      </li>
      {# web portal #}
      <li class="has-sub">
        <a href="javascript:;">
          <i class="icon-globe"></i>
          <span>Portal Web<i class="icon-arrow-down"></i></span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-settings"></i>
              <span>Configurações<i class="icon-arrow-down"></i></span>
            </a>      
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-pie-chart"></i>
                  <span>Dados do portal<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-grid"></i>
                  <span>Layouts da página<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>   
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-envelope"></i>
              <span>Notificações externas<i class="icon-arrow-down"></i></span>
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-envelope"></i>
                  <span>Modelos de e-mail<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-bubble"></i>
                  <span>Modelos de SMS<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-screen-smartphone"></i>
                  <span>Modelos de push (app)<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-paper-plane"></i>
                  <span>Notificações enviadas<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>        
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-envelope-letter"></i>
              <span>Conteúdo do portal<i class="icon-arrow-down"></i></span>
            </a>  
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-plus"></i>
                  <span>Nova postagem<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-grid"></i>
                  <span>Páginas e posts<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-link"></i>
                  <span>Links de notícias<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-question"></i>
                  <span>FAQ<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>       
          </li>
        </ul>
      </li>
      {# financial #}
      <li class="has-sub">
        <a href="javascript:;">
          <i class="icon-wallet"></i>
          <span>Financeiro<i class="icon-arrow-down"></i></span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-note"></i>
              <span>Cadastros<i class="icon-arrow-down"></i></span>
            </a>
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-folder"></i>
                  <span>Contas financeiras<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-wallet"></i>
                  <span>Formas de pagamento<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-credit-card"></i>
                  <span>Condições de pagamento<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-tag"></i>
                  <span>Regras de preço<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-calculator"></i>
                  <span>Regras de tarifação<i class="icon-star"></i></span>                 
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-wrench"></i>
                  <span>Mecanismos de pagamento<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>           
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-magnifier-add"></i>
              <span>Consultas<i class="icon-arrow-down"></i></span>
            </a> 
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-present"></i>
                  <span>Recebimentos<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-doc"></i>
                  <span>Boletos<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>         
          </li>
        </ul>
      </li>
      {# acess #}
      <li class="has-sub">
        <a href="javascript:;">
          <i class="icon-key"></i>
          <span>Acesso<i class="icon-arrow-down"></i></span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-note"></i>
              <span>Cadastros<i class="icon-arrow-down"></i></span>
            </a> 
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-equalizer"></i>
                  <span>Funcionalidades do sistema<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-key"></i>
                  <span>Itens de acesso<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user"></i>
                  <span>Usuários/Grupos<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>           
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-lock-open"></i>
              <span>Permissões<i class="icon-arrow-down"></i></span>
            </a>    
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-user"></i>
                  <span>Por grupo de usuários<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user"></i>
                  <span>Por usuário<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>      
          </li>
        </ul>
      </li>
      {# administrative #}
      <li class="has-sub">
        <a href="javascript:;">
          <i class="icon-calendar"></i>
          <span>Administrativo<i class="icon-arrow-down"></i></span>
        </a>
        <ul class="sub-menu">
          <li class="has-sub">
            <a href="javascript:;">
              <i class="icon-note"></i>
              <span>Cadastros<i class="icon-arrow-down"></i></span>
            </a> 
            <ul class="sub-menu">
              <li>
                <a href="javascript:;">
                  <i class="icon-briefcase"></i>
                  <span>Empresas<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-direction"></i>
                  <span>Unidades e setores<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-directions"></i>
                  <span>Países, estados e cidades<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-user"></i>
                  <span>Tipos de parentesco<i class="icon-star"></i></span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-lock"></i>
                  <span>Chaves de restrições<i class="icon-star"></i></span>
                </a>
              </li>
            </ul>      
          </li>
        </ul>
      </li>
      {# slidebar minify #}
      <li class="">
        <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
          <i class="icon-arrow-left"></i>
          <i class="icon-arrow-left"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
