.page-content-full-height {
	height: 100%;
}


@media (min-width: 768px) {
	.page-content-full-height .content {
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateZ(0); 
	} 
}