.footer {
  bottom: 0;
  margin: 0 auto;
  padding: 1.5rem;
  position: absolute;

  .footer-banner {
    gap: 1.5rem;
    width: 100%;
    display: grid;
    align-items: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: .25rem;
    justify-content: center;
    grid-template-columns: auto 1fr;
    box-shadow: 0 0 1rem -.25rem #e4e9f2;

    .footer-banner-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      img { height: 5rem; }
    }
    .footer-banner-info {
      text-align: center;
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
      .footer-banner-info-grid {
        display: flex;
        align-items: center;
        margin-bottom: .25rem;
        justify-content: center;
        div:first-child,
        div:last-child { margin: 0 1rem; }
        
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          i { margin-right: .5rem; }
          &:hover {
            color: orangered;
            transition: 250ms ease-in;
          }
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .footer .footer-banner .footer-banner-info .footer-banner-info-grid {
    display: block;
  }
}
@media (max-width: 992px) {
  .footer {
    width: 100%;
    
    .footer-banner {
      gap: 1rem;
      grid-template-columns: 1fr;
    }
  }
}
@media (max-width: 767.98px) {
  .footer .footer-banner .footer-banner-info .footer-banner-info-grid {
    display: block !important;
  }
  .footer-banner-info p span { display: none; }
}
