* {
    margin: 0;
    padding: 0;
    border: none;
    outline: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box; 
}
html, body {
    position: relative;
    width: 100% !important;
    min-height: 100vh !important;
    font-size: 14px !important;
    background: #edf1f7 !important;
    font-family: "Open Sans", Arial, Helvetica, sans-serif !important; 
}
a {
    color: inherit;
    text-decoration: none !important;
    &:hover, &:visited { color: inherit; }
}
i:hover {
    cursor: pointer;
    transition: 300ms ease-in;
}
button { outline: inherit !important; }



.content {
    display: flex;
    min-height: 100vh;
    padding-top: 5rem;
    margin-left: 20rem;
    position: relative;
    justify-content: center;
}
@media (max-width: 767.98px) {
    .content {
        margin-left: 0 !important;
        padding-top: 8rem !important;
    } 
}
