#page-loader {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 9999;
	position: fixed;
	background: #d9e0e7;
	
	.fade {	display: none;
		.in, .show { display: block; }
		.d-none { .spinner { animation: none; }}
	}

  .spinner {
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    position: absolute;
    border-radius: 3rem;
    margin: -1.25rem 0 0 -1.25rem;
    border: .2rem solid #242b30;
    border-top: .2rem solid #d9e0e7;
    animation: rotation 550ms infinite linear;
  }
}

@keyframes rotation {
  from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}