.slimScrollDiv {
	.slimScrollBar,
	.slimScrollRail {
  	right: .25rem !important;
		width: .5rem !important;
	}
	.slimScrollBar {
		background: none !important;		
		&:before {
			left: 0;
			right: 0;
			top: .25rem;
			content: '';
			bottom: .25rem;
			position: absolute;
			border-radius: .75rem; 			
			background: rgba(253, 253, 253, .6) !important;
		}
	}
}
