@charset "UTF-8";
/**	Variáveis **/
/* NAVBAR HEADER */
.header {
  top: 0;
  width: 100%;
  height: 5rem;
  display: grid;
  z-index: 1020;
  position: fixed;
  grid-template-columns: auto 1fr; }
  .header .in-navbar-header-lt {
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem 1.5rem;
    justify-content: space-between;
    background: #ffffff;
    border-bottom: 0.1rem solid #e4e9f2; }
    .header .in-navbar-header-lt .in-navbar-header-lt-brand a {
      display: flex;
      align-items: center; }
      .header .in-navbar-header-lt .in-navbar-header-lt-brand a img {
        width: auto;
        height: 3.5rem;
        margin-right: 1rem; }
      .header .in-navbar-header-lt .in-navbar-header-lt-brand a p {
        color: #001a4b;
        font-weight: 100;
        margin-bottom: 0;
        font-size: 1.75rem;
        line-height: 1.5rem;
        text-transform: uppercase; }
        .header .in-navbar-header-lt .in-navbar-header-lt-brand a p span {
          color: #d61e3f;
          font-weight: bold; }
    .header .in-navbar-header-lt .in-navbar-header-lt-sidebar {
      display: none;
      padding: .75rem 0 .75rem .75rem; }
      .header .in-navbar-header-lt .in-navbar-header-lt-sidebar button {
        border: none;
        background: inherit; }
        .header .in-navbar-header-lt .in-navbar-header-lt-sidebar button:hover {
          opacity: 0.75;
          transition: 250ms ease-in; }
        .header .in-navbar-header-lt .in-navbar-header-lt-sidebar button .in-navbar-header-lt-sidebar-icon {
          width: 1.75rem;
          display: block;
          height: 0.12rem;
          border-radius: 0.25rem;
          background: #1e1e2d; }
          .header .in-navbar-header-lt .in-navbar-header-lt-sidebar button .in-navbar-header-lt-sidebar-icon + .in-navbar-header-lt-sidebar-icon {
            margin-top: 0.35rem; }
  .header .in-navbar-header-rb {
    margin: 0;
    height: 100%;
    display: flex;
    padding: .25rem 1.5rem;
    align-items: center;
    justify-content: flex-end;
    background: #ffffff;
    border-bottom: 0.1rem solid #e4e9f2; }
    .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group {
      position: relative; }
      .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group .in-navbar-header-rb-search-group-input {
        width: 17rem;
        border-radius: 2rem;
        padding: .5rem 3rem .5rem 1.5rem;
        background: #f9fafb;
        border: 0.1rem solid #e4e9f2; }
        .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group .in-navbar-header-rb-search-group-input:hover {
          transition: 250ms ease-in;
          border: 0.1rem solid #001a4b; }
        .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group .in-navbar-header-rb-search-group-input:focus {
          width: 22rem;
          transition: 250ms ease-in;
          animation: navbar-input-expand 250ms;
          border: 0.1rem solid #001a4b; }
        .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group .in-navbar-header-rb-search-group-input::-webkit-input-placeholder {
          color: #a9a9a9; }
      .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group .in-navbar-header-rb-search-group-icon {
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        background: none;
        position: absolute;
        align-items: center;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        color: #a9a9a9; }
    .header .in-navbar-header-rb .in-navbar-header-rb-user > a {
      display: flex;
      align-items: center;
      margin-left: 2.5rem; }
      .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-image {
        display: flex;
        width: 2.75rem;
        height: 2.75rem;
        overflow: hidden;
        object-fit: cover;
        margin-right: 1rem;
        border-radius: 2rem;
        align-items: flex-end;
        background-size: cover;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        background: #f9fafb;
        border: 0.1rem solid #e4e9f2; }
        .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-image i {
          font-size: 1.75rem;
          color: #a9a9a9; }
      .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-name {
        color: #1e1e2d; }
        .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-name i {
          font-weight: bold;
          font-size: .75rem;
          margin-left: .5rem;
          color: #a9a9a9; }
          .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-name i:hover {
            color: #d61e3f; }

/* NAVBAR HEADER DROPDOWN */
.dropdown-toggle::after {
  border: inherit; }

.dropdown-menu {
  border: inherit;
  font-size: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 1.25rem -0.25rem rgba(0, 0, 0, 0.1); }
  .dropdown-menu .dropdown-item {
    text-decoration: none;
    color: #1e1e2d;
    padding: .75rem 5rem .75rem 1.5rem; }
    .dropdown-menu .dropdown-item:hover {
      transition: 250ms ease-in;
      color: #d61e3f;
      background: #f2f4f5; }
    .dropdown-menu .dropdown-item i {
      margin-right: 1rem; }

@media (max-width: 992px) {
  .in-navbar-header-rb .in-navbar-header-rb-search-group-input {
    width: 15rem !important; }
    .in-navbar-header-rb .in-navbar-header-rb-search-group-input:focus {
      animation: none;
      width: 15rem !important; } }

@media (max-width: 767.98px) {
  .header {
    height: 8rem;
    grid-template-columns: 1fr; }
    .header .in-navbar-header-lt .in-navbar-header-lt-brand a img {
      height: 2.5rem; }
    .header .in-navbar-header-lt .in-navbar-header-lt-brand a p {
      font-size: 1.25rem; }
    .header .in-navbar-header-lt .in-navbar-header-lt-sidebar {
      display: flex; }
    .header .in-navbar-header-rb .in-navbar-header-rb-search {
      width: 100% !important; }
      .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group-input {
        width: 100% !important; }
        .header .in-navbar-header-rb .in-navbar-header-rb-search .in-navbar-header-rb-search-group-input:focus {
          animation: none;
          width: 100% !important; }
    .header .in-navbar-header-rb .in-navbar-header-rb-user > a {
      margin-left: 2rem; }
      .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-image {
        margin: 0 !important; }
      .header .in-navbar-header-rb .in-navbar-header-rb-user > a .in-navbar-header-rb-user-name span {
        display: none; } }
