.page-sidebar-minified .content {
  margin-left: 4rem; }

.page-sidebar-minified .footer .footer-banner .footer-banner-info .footer-banner-info-grid {
  display: flex; }

.page-sidebar-minified .sidebar {
  width: 4rem;
  height: 100%; }
  .page-sidebar-minified .sidebar .slimScrollDiv .slimScrollBar,
  .page-sidebar-minified .sidebar .slimScrollDiv .slimScrollRail {
    display: none !important; }
  .page-sidebar-minified .sidebar .nav .nav-header {
    display: none; }
  .page-sidebar-minified .sidebar .nav > li > a {
    padding: 1.25rem; }
    .page-sidebar-minified .sidebar .nav > li > a span {
      display: none !important; }
  .page-sidebar-minified .sidebar .nav li ul {
    display: none !important; }
