.float-sub-menu-container {
	margin: 0;
	width: 20rem;
  z-index: 1020;
	position: fixed;
  background: #242b30;
	
	.float-sub-menu {
    margin: 0;
    list-style-type: none;
    padding: .75rem 0 .75rem 3rem;

		& li {
			position: relative;
			
			& > a {
				display: block;
        position: relative;
				line-height: 1.25rem;
        text-decoration: none;
        padding: .5rem 1.5rem .5rem 1rem;
        color: rgba(255, 255, 255, 0.6);

				.caret {
					border: none;
					float: right;
          width: 1.5rem;
          height: 1.5rem;
					display: block;
          font-weight: 900;
          font-size: .75rem;
          margin-top: -.1rem;
          font-style: normal;
          text-align: center;
          line-height: 1.5rem;
          font-variant: normal;
          text-rendering: auto;
          font-family: Font Awesome\ 5 Free, Font Awesome\ 5 Pro, FontAwesome !important;
				
					&::before {
						opacity: 0.5;
						display: block;
            content: '\f054';
            text-align: center;
            transition: all 0.2s linear;
					}
				}
				
				&:hover, &:focus { color: #FFFFFF; }
				&::after {
					content: '';
					top: .75rem;
          height: .1rem;
          left: -.75rem; 
          width: .75rem;
          position: absolute;
          background: #2d353c;
				}
			}
			
			&::before {
        top: 0;
        bottom: 0;
				content: '';
        width: .1rem;
        left: -.75rem;
        position: absolute;
        background: #2d353c;
			}
			&::after {
        left: 0; 
        top: .75rem;
        width: .5rem;
        height: .5rem;
				content: '';
        z-index: 10;
        margin-top: -.1rem;
        position: absolute;
        border-radius: .25rem;
        background: #242b30;
        border: .1rem solid rgba(255, 255, 255, 0.25);
			}
			&:first-child {
				&::before { top: -1rem; }
				&:last-child {
					&::before { height: 2rem; }
				}
			}
			&:last-child {
				&::before {
					bottom: auto;
					height: 1rem;
				}
			}
			.has-sub {
				& > a {
					&::before { background: #2d353c; }
				}
			}
			.active {
				& > a {
					color: #FFFFFF;
					
					.caret {
						&::before {
							opacity: 1.0;
							transform: rotate(90deg); }
						}
					}
				}
				&::after { border-color: #00acac; }
			}
			.expanding,
			.expand {
				& > a { color: #FFFFFF;
					
				.caret {
					&::before {
						opacity: 1.0;
						transform: rotate(90deg); 
					}
				}
			}
		}
		.closed,
		.closing {
			& > a {
				.caret::before { transform: rotate(0deg); }
			}
		}
	}
	& > li {
		&:first-child {
			&:before { top: .75rem; }
			&:last-child {
				&:before {height: 0 !important; }
			}
		}
	}
	.active {
		& > .sub-menu { display: block; }
	}
	.sub-menu {
		display: none;
		background: none;
		padding: 0 0 0 1rem;
		list-style-type: none;
	}
	.float-sub-menu-arrow {
		left: 0;
		top: 1.5rem;
		width: 2rem;
		height: .1rem;
		position: absolute;
		background: #2d353c;
	}
	.float-sub-menu-line {
		left: 2rem;
		top: 1.5rem;
		width: .1rem;
		position: absolute;
		background: #2d353c;
	}
	.foat-sub-menu-arrow {
		&:before, &:after { display: none; }
	}
}