<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="sortcut icon" type="image/x-icon" href="">

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
  <link rel="stylesheet" href="/plugins/simple-line-icons/css/simple-line-icons.css">

  {# <link rel="stylesheet" type="text/css" href="/styles/css/default/theme.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/default/styles.css"> #}

  <link rel="stylesheet" type="text/css" href="/styles/css/global.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/navbar-header.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/navbar-favorite.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/sidebar-menu.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/sidebar-menu-float.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/sidebar-menu-toggled.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/sidebar-menu-minified.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/sidebar-menu-slimscroll.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/banner-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/css/btn-scroll-to-top.css">

  <link rel="stylesheet" type="text/css" href="/styles/css/test.css">
</head>
<body>

  <div id="page-loader">
    <span class="spinner"></span>
  </div>

  <div id="page-container" class="fade">
    {% include 'navbarHeader/navbar-header.njk' %}
    {% include 'sidebarMenu/sidebar-menu.njk' %}
    
    <div id="content" class="content">
      {% include 'navbarFavorite/navbar-favorite.njk' %}
      {% block content %}{% endblock content %}
      {% include 'bannerFooter/banner-footer.njk' %}
    </div>

    <a href="javascript:;" class="btn-scroll-to-top fade" data-click="scroll-top">
      <i class="icon-arrow-up"></i>
      <i class="icon-arrow-up"></i>
    </a>
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  
  <script src="/scripts/app.min.js"></script>

  <script>
    $(function () {
      $('.dropdown-toggle').dropdown();
    }); 

    const mySwiper = new Swiper('.swiper-container', {
      slidesPerView: 10,
      centerInsufficientSlides: false,
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },   
    })
  </script>

</body>
</html>
